# CE302 Advanced Programming Techniques for Engineers

Dr. Ahmet Anıl Dindar (adindar@gtu.edu.tr) | TA Fırat Bezir (fbezir@gtu.edu.tr)

## Variables and Data Structure

- String 

- List 

- Tuple

- Set

- Dictionary

- Arrays

## Branching

- IF-Else

- Ternary operators

## Iteration

- For-loops

- While-loops

- Comprehension (list, dictionary)

---

### String

In [4]:
temp = "ahmet"

In [5]:
temp.upper()

'AHMET'

In [8]:
temp2 = temp.upper()

temp2

'AHMET'

In [9]:
print( temp2.lower() )

ahmet

In [10]:
os.listdir()

['README.md', 'CE302-Week02.ipynb', '1-Figures', '.ipynb_checkpoints', '.git']

In [13]:
type( temp)

str

In [14]:
len( temp)

5

In [18]:
temp  = "Ahmet Anıl Dindar is the lecturer"

In [19]:
print( "*" * len( temp) +"\n"+ temp +"\n" + "="*len(temp))

*********************************
Ahmet Anıl Dindar is the lecturer
=================================

**Python allows the user to use " and ' in the strings.**

In [25]:
temp = " this is Ahmet's "
print( temp)

 this is Ahmet's

**Replace**

In [34]:
temp = "figure.png"
#
#"""
#code
#"""

temp2 = temp.replace(".png","-R1.png")

print( temp2 )

figure-R1.png

**Formatted text**

In [36]:
message = "CE302" + " " + "Rocks"
print( message )

CE302 Rocks

In [38]:
print("%s %s"%("CE302", "Rocks")) # Messy

CE302 Rocks

In [40]:
temp1 , temp2 = "CE302" , "Rocks"
print( f"{temp1} {temp2}")

CE302 Rocks

In [41]:
temp1 , temp2 = "CE302" , "Rocks"
print( f"{temp1} {temp2.upper()}")

CE302 ROCKS

In [42]:
temp1 , temp2 = "CE302" , "Rocks"
print( f"{temp1.lower()} {temp2}")

ce302 Rocks

In [46]:
print( f'{"*" * len( temp)}\n{temp.upper()}\n{ "="*len(temp)}' )

**********
FIGURE.PNG
==========

### List

In [47]:
temp = [ 1 , 2 , 4 ]

In [48]:
%whos

Variable   Type      Data/Info
------------------------------
message    str       CE302 Rocks
os         module    <module 'os' from '/Users<...>da3/lib/python3.8/os.py'>
temp       list      n=3
temp1      str       CE302
temp2      str       Rocks

In [49]:
temp[0]

1

In [51]:
temp[-1]

4

In [53]:
temp[:2]

[1, 2]

In [54]:
temp + temp

[1, 2, 4, 1, 2, 4]

In [55]:
temp[0] = 0

In [56]:
temp

[0, 2, 4]

In [59]:
temp.insert(1,1000)

In [60]:
temp

[0, 1000, 1, 2, 4]

In [61]:
%whos

Variable   Type      Data/Info
------------------------------
message    str       CE302 Rocks
os         module    <module 'os' from '/Users<...>da3/lib/python3.8/os.py'>
temp       list      n=5
temp1      str       CE302
temp2      str       Rocks

In [62]:
del temp

In [65]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])?  y

In [66]:
whos

Interactive namespace is empty.

In [67]:
temp = [1,2,3,4]

In [68]:
0 in temp

False

In [69]:
1 in temp

True

In [70]:
name = "ali_veli_%_bıla_bıla"

In [71]:
name

'ali_veli_%_bıla_bıla'

In [72]:
"%" in name

True

In [73]:
%whos

Variable   Type    Data/Info
----------------------------
name       str     ali_veli_%_bıla_bıla
temp       list    n=4

In [74]:
temp

[1, 2, 3, 4]

In [75]:
temp.insert(-1, "ali")

In [76]:
temp

[1, 2, 3, 'ali', 4]

In [77]:
temp.append("veli")

In [78]:
temp

[1, 2, 3, 'ali', 4, 'veli']

### Tuple

In [79]:
temp = (1,2,3,4,5)

In [80]:
type( temp )

tuple

In [81]:
temp[0] = 10

TypeError: 'tuple' object does not support item assignment

In [85]:
temp.count(0)

0

In [86]:
temp.index(1)

0

In [87]:
temp.index(3)

2

### Set (remove the duplicates)

In [88]:
temp = [ 1,1,1,1,1,1, 2,2, 3,4,5,6,7,]
print( temp)

[1, 1, 1, 1, 1, 1, 2, 2, 3, 4, 5, 6, 7]

In [98]:
uniqueItems = list( set( temp ) ) 
print( uniqueItems)

[1, 2, 3, 4, 5, 6, 7]

In [99]:
uniqueItems[0]

1

In [92]:
temp.count( uniqueItems)

TypeError: 'set' object is not subscriptable

In [100]:
temp.count( uniqueItems[0] )

6

### Dictionary

In [103]:
temp ={ "name" : "Ahmet"}  

print( temp )

{'name': 'Ahmet'}

In [104]:
temp["name"]

'Ahmet'

In [105]:
database = { "Name" , "Surname" , "Number"}

In [106]:
database

{'Name', 'Number', 'Surname'}

In [107]:
database = { "Name" :[ "Ali","Ahmet"] , "Surname":["A","B"] , "Number":[10,11]}

In [108]:
database

{'Name': ['Ali', 'Ahmet'], 'Surname': ['A', 'B'], 'Number': [10, 11]}

In [110]:
database.keys()

dict_keys(['Name', 'Surname', 'Number'])

In [111]:
database.values()

dict_values([['Ali', 'Ahmet'], ['A', 'B'], [10, 11]])

In [112]:
database["Name"]

['Ali', 'Ahmet']

In [113]:
database["Number"]

[10, 11]

In [116]:
database["Name"].index("Ahmet")

1

In [117]:
"Veli" in database["Name"]

False

### Arrays

In [118]:
import numpy as np

In [119]:
temp =  np.array( [1,1,1,] )

print( temp )

[1 1 1]

In [120]:
type( temp )

numpy.ndarray

In [122]:
temp.shape

(3,)

In [123]:
temp.size

3

In [124]:
temp2 = np.array( [[1,2,3],[4,5,6]])

In [125]:
temp2

array([[1, 2, 3],
       [4, 5, 6]])

In [127]:
temp2.diagonal()

array([1, 5])

In [128]:
listofLongArray = np.arange(1,10)
print( listofLongArray)

[1 2 3 4 5 6 7 8 9]

In [129]:
listofLongArray = np.arange(1,10,2)
print( listofLongArray)

[1 3 5 7 9]

In [131]:
listofLongArray = np.arange(1,10, 0.1)
print( listofLongArray)

[1.  1.1 1.2 1.3 1.4 1.5 1.6 1.7 1.8 1.9 2.  2.1 2.2 2.3 2.4 2.5 2.6 2.7
 2.8 2.9 3.  3.1 3.2 3.3 3.4 3.5 3.6 3.7 3.8 3.9 4.  4.1 4.2 4.3 4.4 4.5
 4.6 4.7 4.8 4.9 5.  5.1 5.2 5.3 5.4 5.5 5.6 5.7 5.8 5.9 6.  6.1 6.2 6.3
 6.4 6.5 6.6 6.7 6.8 6.9 7.  7.1 7.2 7.3 7.4 7.5 7.6 7.7 7.8 7.9 8.  8.1
 8.2 8.3 8.4 8.5 8.6 8.7 8.8 8.9 9.  9.1 9.2 9.3 9.4 9.5 9.6 9.7 9.8 9.9]

In [132]:
listofLongArray_2 = np.linspace(1,10, 2)
print( listofLongArray_2)

[ 1. 10.]

In [133]:
listofLongArray_2 = np.linspace(1,10, 3)
print( listofLongArray_2)

[ 1.   5.5 10. ]

In [134]:
listofLongArray_2 = np.linspace(1,10, 3 , endpoint=False )
print( listofLongArray_2)

[1. 4. 7.]

In [136]:
np.zeros([2,4])

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [137]:
np.ones([2,4])

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.]])

## Branching

### If-else

In [141]:
temp = 5

if temp == 5 :
    print( "Values if 5")

Values if 5

In [143]:
temp = 4

if temp > 0 :
    print( "temp is positive")
else : 
    print( "temp is negative")

temp is positive

In [145]:
temp = 0

if temp > 0 :
    print( "temp is positive")
elif temp < 0 : 
    print( "temp is negative")
else : 
    print( "temp is zero")

temp is zero

**Challenge**

In [ ]:
temp = 4

if 

else


print( *****)

temp is positive and even number

**Ternary**

In [160]:
dummy = 0

temp2 = "Ali" if dummy ==  1 else "not"

## Iteration

### For-loop

In [165]:
temp = [10,21,35,46,577]

for counter, item in enumerate( temp ) : 
    print( f"{counter} is equal {item}" )
    
print( f"{counter} is the number of iteration")

0 is equal 10
1 is equal 21
2 is equal 35
3 is equal 46
4 is equal 577
4 is the number of iteration

In [169]:
temp = np.arange(1,10, .4)
temp2 = np.zeros( len(temp))

for i , j in zip( temp , temp2) :
    print( f"{i} and {j}")

1.0 and 0.0
1.4 and 0.0
1.7999999999999998 and 0.0
2.1999999999999997 and 0.0
2.5999999999999996 and 0.0
2.9999999999999996 and 0.0
3.3999999999999995 and 0.0
3.7999999999999994 and 0.0
4.199999999999999 and 0.0
4.6 and 0.0
4.999999999999999 and 0.0
5.399999999999999 and 0.0
5.799999999999999 and 0.0
6.199999999999999 and 0.0
6.599999999999999 and 0.0
6.999999999999998 and 0.0
7.399999999999999 and 0.0
7.799999999999999 and 0.0
8.2 and 0.0
8.599999999999998 and 0.0
8.999999999999998 and 0.0
9.399999999999999 and 0.0
9.799999999999997 and 0.0

In [173]:
for counter , (i,j) in enumerate( zip( temp , temp2)):
    print( f"{counter } = {round(i,3)} and {j}")

0 = 1.0 and 0.0
1 = 1.4 and 0.0
2 = 1.8 and 0.0
3 = 2.2 and 0.0
4 = 2.6 and 0.0
5 = 3.0 and 0.0
6 = 3.4 and 0.0
7 = 3.8 and 0.0
8 = 4.2 and 0.0
9 = 4.6 and 0.0
10 = 5.0 and 0.0
11 = 5.4 and 0.0
12 = 5.8 and 0.0
13 = 6.2 and 0.0
14 = 6.6 and 0.0
15 = 7.0 and 0.0
16 = 7.4 and 0.0
17 = 7.8 and 0.0
18 = 8.2 and 0.0
19 = 8.6 and 0.0
20 = 9.0 and 0.0
21 = 9.4 and 0.0
22 = 9.8 and 0.0

### While-loop

In [175]:
limitValue =  5
counter =  0

while counter < limitValue:
    print( counter)
    counter += 1

0
1
2
3
4

In [178]:
flag = 0 

counter = 0 

while flag == 0:
    
    counter += 1
    print( counter )
    if counter % 10 == 0:
        print( "I am done")
        flag = 1
print( flag)

1
2
3
4
5
6
7
8
9
10
I am done
1

### Comprehension

#### List

In [189]:
temp = [ item for item in np.arange(1,110,3) if (item % 2 == 0) or ( item %4 == 3)]


print( temp )

[4, 7, 10, 16, 19, 22, 28, 31, 34, 40, 43, 46, 52, 55, 58, 64, 67, 70, 76, 79, 82, 88, 91, 94, 100, 103, 106]

In [193]:
t_llist = [ round( item * 0.2,2) for item in range( len( temp))]

print( t_llist)

[0.0, 0.2, 0.4, 0.6, 0.8, 1.0, 1.2, 1.4, 1.6, 1.8, 2.0, 2.2, 2.4, 2.6, 2.8, 3.0, 3.2, 3.4, 3.6, 3.8, 4.0, 4.2, 4.4, 4.6, 4.8, 5.0, 5.2]

#### Dictionary

In [196]:
temp_dict = {"a":1 , "b":3}

temp_dict_2 = { key: value for (key, value) in temp_dict.items()}
print( temp_dict_2 )

{'a': 1, 'b': 3}

In [197]:
temp = np.arange(1,10, .4)
temp2 = np.zeros( len(temp))

temp_dict_2 = { key: value for (key, value) in zip( temp , temp2)}
print( temp_dict_2 )

{1.0: 0.0, 1.4: 0.0, 1.7999999999999998: 0.0, 2.1999999999999997: 0.0, 2.5999999999999996: 0.0, 2.9999999999999996: 0.0, 3.3999999999999995: 0.0, 3.7999999999999994: 0.0, 4.199999999999999: 0.0, 4.6: 0.0, 4.999999999999999: 0.0, 5.399999999999999: 0.0, 5.799999999999999: 0.0, 6.199999999999999: 0.0, 6.599999999999999: 0.0, 6.999999999999998: 0.0, 7.399999999999999: 0.0, 7.799999999999999: 0.0, 8.2: 0.0, 8.599999999999998: 0.0, 8.999999999999998: 0.0, 9.399999999999999: 0.0, 9.799999999999997: 0.0}